<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{$ meta.title $} - {$ title $}</title>
    <link rel="icon" href="{$ meta.serverPath if meta.production else '/' $}favicon.ico" type="image/x-icon"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600,600italic,300' rel='stylesheet' type='text/css'>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>

<body>
  <header id="masthead" class="{$ styles.masthead $}">
    {% if meta.repository %}
      <a href="{$ meta.repository $}" title="{$ siteTitle $} Github Repo" target="_blank" class="{$ styles.github $}"></a>
    {% endif %}
    <a href="/" class="{$ styles.brand $}"><div class="{$ styles.logo $}"></div></a>
  </header>
  <div class="{$ styles['intro-wrapper'] $}">
    <p class="{$ styles.intro $}">Slinky takes the hard work out of managing your npm link dependencies.</p>
  </div>
