// Github
.github
  position absolute
  z-index 5
  right 40px
  top 35px
  width 33px
  height 32px
  background url('../img/github.svg') no-repeat
  background-size @width @height
  display inline-block

.windows-icon
  width 36px
  height 36px
  background url('../img/windows-icon.svg') no-repeat
  background-size @width @height

.apple-icon
  width 30px
  height 36px
  background url('../img/apple-icon.svg') no-repeat
  background-size @width @height

.linux-icon
  width 31px
  height 36px
  background url('../img/linux-icon.svg') no-repeat
  background-size @width @height