.masthead
  position relative
  height 280px
  width 100%
  background-size cover
  color #fff
  text-align center

  .github
    position absolute
    z-index 15
    right 40px
    top 35px

  canvas
    position: absolute
    top: 0
    left: 0
    z-index: 1

.intro-wrapper
  background #000
  width 100%
  display block
  .intro
    color #fff
    text-align center
    max-width 540px
    font-size 2rem
    padding 25px
    margin 0 auto
    font-weight 300
