.masthead
  position relative
  height 360px
  width 100%
  background-size cover
  color #fff
  text-align center

  .github
    position absolute
    z-index 5
    right 40px
    top 35px

  canvas
    position: absolute
    top: 0
    left: 0
    z-index: 1

  .intro
    font-size 2rem
    display block
    max-width 540px
    padding 40px 25px 25px
    margin 0 auto
    position: relative
    font-weight 300
    z-index 5